<!DOCTYPE html>
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Añadir Dirección</title>
</head>
<body>
<h1>Añadir Nueva Dirección</h1>
<form action="/restaurantes/anadirDireccion" method="post">
  <label for="calle">Calle:</label>
  <input type="text" id="calle" name="calle" required><br>
  <label for="numero">Número:</label>
  <input type="number" id="numero" name="numero" required><br>
  <label for="complemento">Complemento:</label>
  <input type="text" id="complemento" name="complemento"><br>
  <label for="codigoPostal">Código Postal:</label>
  <input type="number" id="codigoPostal" name="codigoPostal" required><br>
  <label for="municipio">Municipio:</label>
  <input type="text" id="municipio" name="municipio" required><br>
  <button type="submit">Añadir</button>
</form>
</body>
</html>