<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="/estilos.css">
  <meta charset="UTF-8">
  <title>Buscar Restaurante</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
</head>
<body>
<h1>Buscar Restaurante</h1>
<form action="#" th:action="@{/}" method="get">
  <input type="text" id="busqueda" name="busqueda" placeholder="Buscar Restaurante">
  <button type="submit">Buscar</button>
</form>
<ul>
  <li th:each="restaurante : ${restaurantes}">
    <a th:if="${session.usuario != null}" th:href="@{/restaurantes/{restauranteId}/pedido(restauranteId=${restaurante.id})}" th:text="${restaurante.nombre}">Nombre del Restaurante</a>
    <a th:if="${session.usuario == null}" th:href="@{/login}" th:text="${restaurante.nombre}">Nombre del Restaurante</a>
    <span th:each="direccion : ${restaurante.direcciones}" th:text="${direccion.calle + ', ' + direccion.numero + ', ' + direccion.municipio + ', ' + direccion.codigoPostal}">Dirección</span>
  </li>
</ul>
</body>
</html>
