<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="/estilos.css">
  <meta charset="UTF-8">
  <title>Buscar Restaurante</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
</head>
<body>
<header>
  <div th:if="${usuarioLogueado == null}">
    <a href="/registro">Registrarse</a>
    <a href="/login">Iniciar Sesión</a>
  </div>
  <div th:if="${usuarioLogueado != null}">
    <span th:text="'Bienvenido, ' + ${usuarioLogueado.nombre}"></span>
    <a href="/logout">Cerrar Sesión</a>
  </div>
</header>
<h1>Buscar Restaurante</h1>
<form th:action="@{/Inicio}" method="get">
  <input type="text" name="busqueda" placeholder="Buscar...">
  <button type="submit">Buscar</button>
</form>
<div th:if="${restaurantes != null}">
  <ul>
    <li th:each="restaurante : ${restaurantes}">
      <div>
        <a th:if="${usuarioLogueado == null}" th:href="@{/login}" th:text="${restaurante.nombre}">Restaurante</a>
        <a th:if="${usuarioLogueado != null}" th:href="@{/restaurantes/{id}/menu(id=${restaurante.idUsuario})}" th:text="${restaurante.nombre}">Restaurante</a>
      </div>
      <div th:each="direccion : ${restaurante.direcciones}">
        <span th:text="'Calle: ' + ${direccion.calle}"></span>
      </div>
    </li>
  </ul>
</div>
</body>
</html>