<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carta</title>
</head>
<body>
<h1>Carta</h1>
<div>
  <button onclick="location.href='/restaurantes/anadirMenu'">Añadir Menú</button>
  <button onclick="location.href='/restaurantes/eliminarMenu'">Eliminar Menú</button>
  <button onclick="location.href='/restaurantes/anadirItem'">Añadir Item</button>
  <button onclick="location.href='/restaurantes/eliminarItem'">Eliminar Items</button>
</div>
</body>
</html>