<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Restaurante</title>
</head>
<body>
<h1>Login Restaurante</h1>
<form action="/restaurantes/login" method="post">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" placeholder="Email" required>
    <br>
    <label for="pass">Contraseña:</label>
    <input type="password" id="pass" name="pass" placeholder="Contraseña" required>
    <br>
    <button type="submit">Iniciar Sesión</button>
</form>
</body>
</html>