<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opciones de Registro</title>
</head>
<body>
<h1>Elige una Opción para Registrarte</h1>
<button onclick="location.href='/clientes/registro'">Registrar Cliente</button>
<button onclick="location.href='/repartidores/registro'">Registrar Repartidor</button>
<button onclick="location.href='/restaurantes/registro'">Registrar Restaurante</button>
</body>
</html>