<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registro Cliente</title>
</head>
<body>
<h1>Registro de Cliente</h1>
<form th:action="@{/registro/cliente}" th:object="${cliente}" method="post">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" th:field="*{nombre}" />
    <label for="apellidos">Apellidos:</label>
    <input type="text" id="apellidos" th:field="*{apellidos}" />
    <label for="dni">DNI:</label>
    <input type="text" id="dni" th:field="*{dni}" />
    <label for="pass">Contraseña:</label>
    <input type="password" id="pass" th:field="*{pass}" />
    <button type="submit">Registrar</button>
</form>
<p th:text="${mensaje}"></p>
</body>
</html>